:root {
    --border-radius: 8px;
    --border-radius-small : 5px;
    --padding: 5px;
    --inner-bar-margin: 0 5px;
    --inner-bar-padding: var(--padding);

    --main-bar-bg : rgb(25, 25, 25);
    --inner-bar-bg : rgb(40, 40, 40);
    --element-bg : rgb(55, 55, 55);
    --slider-fg: rgb(95, 183, 255);
}

/* * Main container */
.main {
    background-color: rgb(80, 80, 80);
    border-radius: var(--border-radius);
    margin-top: 15px;
    display: flex;
}

/* * Buttons and folders */
.close-button, .title {
    border-radius: var(--border-radius);
    background-color: var(--main-bar-bg) !important;
}
/* Make .main background behind close button and properly position it */
.close-button { align-self: flex-end;}
.main > ul { margin-bottom: 20px !important; }

/* * All gui entries in folders */
/* All bars in folders */
.cr {
    background-color: var(--inner-bar-bg) !important;
    margin: var(--inner-bar-margin) !important;
    padding: var(--inner-bar-padding) !important;

    /* * Border styling for bars */
    /* border-left: none !important; */ /* ? Remove colored borders from entries */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* Inner bar container */
.cr > div:first-child {
    display: flex;
}
/*  Classes for left bar borders:
    bool border: .cr.bool
    slider border: .cr.has-slider
    number border: .cr.number
    ..you can figure out the rest.. */
.cr.number { border-left-color: var(--slider-fg) !important; }
/* Container after the description field in the bar */
.cr .c { display: flex !important; }
/* All input elements (and slider) */
.slider, input { border-radius: var(--border-radius-small); }
/* Reset margins for all inputs and sliders */
.has-slider .slider,
.cr input { margin: 0 !important; }

/* ? Align all folders on the same level */
/* li.folder {
    border-left: none !important;
} */

/* * Sliders */
/* Slider input field to right */
.has-slider .c > div:first-child { order: 1; }
/* Slider input field container */
.has-slider .c > div:first-child {
    background-color: var(--inner-bar-bg) !important;
    width: 50px !important;
    flex-shrink: 0;
}
/* Slider input field */
.has-slider input {
    color: var(--slider-fg) !important;
    text-align: center;
    height: 100% !important;
    margin-left: 5px !important;
    width: calc(100% - 5px) !important;
    padding: 0 !important;
}
/* Slider bar */
.slider {
    height: 100% !important;
    background-color: var(--element-bg) !important;
    width: 100% !important;
    margin-left: 0 !important;
    overflow: hidden;
}
.slider-fg {
    background-color: var(--slider-fg) !important;
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}